<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mjxm.mapping.UserMapper">
    <resultMap id="BaseResultMap" type="mjxm.pojo.User">
        <constructor>
            <idArg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="wx_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="wx_img" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="gender" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="type" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="student_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    user_id, wx_name, wx_img, gender, time, type, student_id
  </sql>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from user
        where user_id = #{userId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
    <insert id="insertSelective" parameterType="mjxm.pojo.User" useGeneratedKeys="true" keyProperty="userId">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="wxName != null">
                wx_name,
            </if>
            <if test="wxImg != null">
                wx_img,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="time != null">
                time,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="studentId != null">
                student_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="wxName != null">
                #{wxName,jdbcType=VARCHAR},
            </if>
            <if test="wxImg != null">
                #{wxImg,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=VARCHAR},
            </if>
            <if test="time != null">
                #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="studentId != null">
                #{studentId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="mjxm.pojo.User">
        update user
        <set>
            <if test="wxName != null">
                wx_name = #{wxName,jdbcType=VARCHAR},
            </if>
            <if test="wxImg != null">
                wx_img = #{wxImg,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=VARCHAR},
            </if>
            <if test="time != null">
                time = #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="studentId != null">
                student_id = #{studentId,jdbcType=INTEGER},
            </if>
        </set>
        where user_id = #{userId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="mjxm.pojo.User">
    update user
    set wx_name = #{wxName,jdbcType=VARCHAR},
      wx_img = #{wxImg,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=INTEGER},
      student_id = {#studentId,jdbcType=INTEGER}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>